.table{
    width: 380px !important;
}
form{
    width: 300px;
}
h1{
    color: #e86661 !important;
    font-family: 'Great Vibes', cursive !important;
}
h2 {
    color: # !important;
}
th, #btnCalc{
    background-color: #e86661
    font-weight: bold;
    color: white;
}