.table{
    width: 370px !important;
}
.title {
    width: 360px
}
form{
    width: 370px;
}
h1{
    color: #e86661 !important;
    font-family: 'Great Vibes', cursive !important;
}
h2 {
    color: #e86661 !important;
}
th, #btnCalc{
    background-color: #e86661;
    font-weight: bold;
    color: white;
}